[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
snakemake = "*"
jupyterlab = "*"
pyspark = "*"
pyvcf = "*"
datrie-2019 = "*"

[requires]
python_version = "3.7"
